@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;
  width: 100vw;
  font: 10px sans-serif;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
}

button,
a {
  cursor: pointer;
}
h5 {
  font-size: 18px;
  font-family: "Teko", sans-serif;
  margin: 0.5em 0;
}
.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  transition: 0.2s;
  max-width: 1800px;
}
.app-container button,
.app-container input,
.app-container optgroup,
.app-container select,
.app-container textarea {
  font-family: "DM Sans", sans-serif;
}
.app-content {
  height: 100%;
  overflow: hidden;
  padding: 24px;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 52px 0px 52px;
  position: relative;
}
.app-header-left,
.app-header-right {
  display: flex;
  align-items: center;
}
.app-header-left {
  flex-grow: 1;
}
.app-header-right button {
  margin-left: 10px;
}
.app-icon {
  width: 100px;
  position: relative;
}

.app-name {
  color: #fff;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 32px;
}

.app-sidebar {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-sidebar-link {
  color: #fff;
  margin: 16px 0;
  transition: 0.2s;
  border-radius: 50%;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-sidebar-link:hover {
  background-color: #fff;
  color: #000;
}
.app-sidebar-link.active {
  background-color: #fff;
  color: #000;
}

.projects-section {
  display: flex;
  background: linear-gradient(#141e30, #243b55);
  border-radius: 32px;
  padding: 32px;
  overflow: hidden;
  margin-bottom: 20px;
  height: auto;
  justify-content: center;
}
.projects-section-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}
.projects-section-header {
  margin-bottom: 20px;
  color: #fff;
}
.projects-section-header p {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  opacity: 0.9;
  margin: 0;
  color: #fff;
  float: left;
  border-bottom: 2px solid #e30613;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.projects-section-header h6 {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  opacity: 0.5;
  margin: 0;
  margin-top: 10px;
  color: #fff;
}

.projects-status {
  display: flex;
}

.item-status {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}
.item-status:not(:last-child) .status-type:after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translatey(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.status-number {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
}

.status-type {
  position: relative;
  padding-right: 24px;
  color: #fff;
}

.project-box-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  position: relative;
}
.project-box-footer:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: calc(100% + 32px);
  top: 0;
  left: -16px;
  height: 1px;
}

li {
  font-size: 20px;
  font-family: "Teko", sans-serif;
}
.axis path,
.axis line,
.axis text {
  fill: none;
  stroke: rgb(255 255 255 / 40%);
  shape-rendering: crispEdges;
  font-weight: 100;
  font-size: 1.4em;
}
.line {
  fill: none;
  stroke-width: 3px;
}
.hover-line {
  stroke: #b74779;
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}
.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: rgb(255 255 255 / 60%);
  stroke-width: 1.5px;
}
#hightem {
  stroke: rgb(31, 119, 180);
}
#lowtem {
  stroke: rgb(174, 199, 232);
}
.gl-container svg {
  opacity: 0;
}
svg {
  display: block;
  box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
  padding: 0.5rem 0rem 0.5rem 1rem;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-right: 50px;
}
.grid {
  fill: none;
  shape-rendering: crispEdges;
  stroke: lightgrey;
  opacity: 0.7;
  stroke-width: 1px;
}
.segmentText {
  cursor: pointer;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 180px;
  height: 50px;
  padding: 8px;
  font: 14px sans-serif;
  background: #ddd;
  border-radius: 3px;
  pointer-events: none;
}

#MarsWeatherChart {
  margin-bottom: 50px;
}

@media screen and (max-width: 980px) {
  .project-boxes.jsGridView .project-box-wrapper {
    width: 50%;
  }

  .status-number,
  .status-type {
    font-size: 14px;
  }

  .status-type:after {
    width: 4px;
    height: 4px;
  }

  .item-status {
    margin-right: 0;
  }
}
@media screen and (max-width: 720px) {
  .app-name,
  .profile-btn span {
    display: none;
  }

  .app-header-right button {
    margin-left: 4px;
  }
}
@media screen and (max-width: 520px) {
  .projects-section {
    overflow: auto;
  }

  .project-boxes {
    overflow-y: visible;
  }

  .app-sidebar,
  .app-icon {
    display: none;
  }

  .app-content {
    padding: 16px 12px 24px 12px;
  }

  .status-number,
  .status-type {
    font-size: 10px;
  }

  .app-header {
    padding: 16px 10px;
  }

  .project-boxes.jsGridView .project-box-wrapper {
    width: 100%;
  }

  .projects-section {
    padding: 24px 16px 0 16px;
  }

  .app-header {
    padding: 10px;
  }

  .projects-section-header p,
  .projects-section-header .time {
    font-size: 18px;
  }

  .status-type {
    padding-right: 4px;
  }
  .status-type:after {
    display: none;
  }

  .box-content-header {
    font-size: 12px;
    line-height: 16px;
  }

  .box-content-subheader {
    font-size: 12px;
    line-height: 16px;
  }

  .project-boxes.jsListView .project-box-header > span {
    font-size: 10px;
  }

  .box-progress-header {
    font-size: 12px;
  }

  .box-progress-percentage {
    font-size: 10px;
  }

  .project-boxes.jsListView .project-box > * {
    margin-right: 10px;
  }

  .project-boxes.jsListView .more-wrapper {
    right: 2px;
    top: 10px;
  }
}

/* planet */

h1 {
  text-align: center;
  font-family: Raleway;
  margin: 40px 0 0 0;
  color: #fff;
}

.orbit-container {
  position: relative;
  margin: 0 auto;
  width: 800px;
  height: 800px;
  left: -400px;
  top: 150px;
}

.orbit {
  position: absolute;
  border-radius: 100%;
  border: solid 3px rgba(137, 196, 244, 0.1);
  transition: 0.2s;
}

#sun {
  position: absolute;
  top: calc(320px - 40px);
  left: calc(50% - 40.2px);
  width: 86.434px;
  height: 86.434px;
  background: linear-gradient(#fcd670, #f2784b);
  border-radius: 100%;
  box-shadow: 0px 0px 8px 8px rgba(242, 120, 75, 0.2);
  transition: 0.3s;
}

#mercury-orbit {
  top: 245px;
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  -webkit-animation: spin-right 1.2s linear infinite;
  animation: spin-right 1.2s linear infinite;
}

#mercury {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 74px;
  left: -4px;
  border-radius: 100%;
  background: linear-gradient(#fafafa, silver);
}

#venus-orbit {
  width: 225px;
  height: 225px;
  top: 206px;
  left: calc(50% - 112.5px);
  -webkit-animation: spin-right 3.08s linear infinite;
  animation: spin-right 3.08s linear infinite;
}

#venus {
  position: absolute;
  width: 7.5px;
  height: 7.5px;
  top: 100px;
  left: -5px;
  border-radius: 100%;
  background: linear-gradient(#a537fd, #d5b8ff);
}

#earth-orbit {
  width: 300px;
  height: 300px;
  top: 170px;
  left: calc(50% - 150px);
  -webkit-animation: spin-right 5s linear infinite;
  animation: spin-right 5s linear infinite;
}

#earth {
  position: absolute;
  width: 7.9175px;
  height: 7.9175px;
  top: 105px;
  border-radius: 100%;
  background: linear-gradient(#19b5fe, #7befb2);
}

#mars-orbit {
  width: 375px;
  height: 375px;
  top: 135px;
  left: calc(50% - 187.5px);
  -webkit-animation: spin-right 9.4s linear infinite;
  animation: spin-right 9.4s linear infinite;
}

#mars {
  position: absolute;
  top: 120px;
  left: 9px;
  width: 4.2123px;
  height: 4.2123px;
  border-radius: 100%;
  background: linear-gradient(#ff9478, #eb974e);
}

#jupiter-orbit {
  width: 450px;
  height: 450px;
  top: 98px;
  left: calc(50% - 225px);
  -webkit-animation: spin-right 60s linear infinite;
  animation: spin-right 60s linear infinite;
}

#jupiter {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 145px;
  border-radius: 100%;
  background: linear-gradient(#f8c291, #e58e26);
}

#saturn-orbit {
  width: 525px;
  height: 525px;
  top: 62px;
  left: calc(50% - 262.5px);
  -webkit-animation: spin-right 145s linear infinite;
  animation: spin-right 145s linear infinite;
}

#saturn,
#saturn-rings {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 145px;
  left: 15px;
  border-radius: 100%;
  background: linear-gradient(#8d6e63, #ffe0b2);
}

#saturn-rings {
  height: 30px;
  left: 15px;
  top: 138px;
  background: rgba(255, 236, 179, 0.25);
}

#uranus-orbit {
  width: 600px;
  height: 600px;
  top: 25px;
  left: calc(50% - 300px);
  -webkit-animation: spin-right 420s linear infinite;
  animation: spin-right 420s linear infinite;
}

#uranus {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 220px;
  border-radius: 100%;
  background: linear-gradient(#81ecec, #00cec9);
}

#neptune-orbit {
  width: 675px;
  height: 675px;
  top: -10px;
  left: calc(50% - 337.5px);
  -webkit-animation: spin-right 825s linear infinite;
  animation: spin-right 825s linear infinite;
}

#neptune {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 270px;
  left: 0;
  border-radius: 100%;
  background: linear-gradient(#74b9ff, #0984e3);
  -webkit-animation: spin-right 990s linear infinite;
  animation: spin-right 990s linear infinite;
}

#planet-list {
  display: flex;
  list-style: none;
  font-family: Raleway;
  color: white;
  justify-content: center;
  padding: 0;
}

#pluto-orbit {
  width: 750px;
  height: 750px;
  top: -45px;
  left: calc(50% - 375px);
  border: dashed 1px rgba(137, 196, 244, 0.1);
  -webkit-animation: spin-right 1240s linear infinite;
  animation: spin-right 1240s linear infinite;
}

#pluto {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 330px;
  border-radius: 100%;
  background: linear-gradient(silver, #fafafa);
}

#planet-list li {
  margin-right: 30px;
  cursor: pointer;
}

#planet-list li a {
  text-decoration: none;
  color: white;
}
.intro div {
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
